form{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  
  margin: 50px 0;
}
form input{
  width: 80%;
  text-align: center;
  padding: 10px 10px;
}
form button{
  padding: 0 40px;
}